.about-img {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;


  img {
    filter: invert(25%) sepia(77%) saturate(2565%) hue-rotate(200deg)
      brightness(103%) contrast(96%) opacity(90%);
    border-radius: 5px;
  }
  &:hover {
    img {
      filter: none;
    }
    .about-img__border{
        transform: translate(0px, 0px);
        transition: .1s;


    }
  }

  .about-img__border {
    position: absolute;
    border: 5px solid var(--lgreen);
    border-radius: 5px;
    width: 300px;
    height: 300px;
    transform: translate(15px, 15px);
    background-color: transparent;
  }
}
