.about-img {
  position: relative;

  img {
    filter: invert(25%) sepia(77%) saturate(2565%) hue-rotate(200deg)
      brightness(103%) contrast(96%) opacity(90%);
    border-radius: 5px;
  }
  &:hover {
    img {
      filter: none;
    }
    .about-img__border {
      transform: translate(0px, 0px);
      transition: 0.1s;
    }
  }

  .about-img__border {
    position: absolute;
    bottom: 0%;
    border: 5px solid var(--lgreen);
    border-radius: 5px;
    width: 300px;
    height: 300px;
    transform: translate(15px, 15px);
    background-color: transparent;

    @media (min-width: 1024px) {
      position: absolute;
      bottom: 53.5%;

    }
  }
}
