footer{

    position: fixed;
    bottom: 120px;
    left: 10px;
    .footer-left{
        i{
            font-size: 1.3em;
            color:white;
            margin: 10px;
        }
    
        .line{

            border: 1px solid white;
            background-color: transparent;
            transform: rotate(90deg);
            transform: translatex(-19px);

        }
    }
}