footer {
  position: fixed;
  bottom: 10px;
  left: 20px;
  .footer-left {
    i {
      font-size: 1.2em;
      color: white;
      margin: 15px 10px;
      &:hover{
          color: greenyellow;
          transform: translateY(-3px);
      }
    }

    .line {
      border-right: 1px solid white;
      padding: 20px;
      height: 100px;
      background-color: transparent;
      transform: translatex(-19px);
      margin-top: 15px;
    }
  }


  .footer-right {
    i {
      font-size: 1.2em;
      color: white;
      margin: 15px 10px;
      &:hover{
          color: greenyellow;
          transform: translateY(-3px);
      }
    }

    .line {
      border-right: 1px solid white;
      padding: 20px;
      height: 100px;
      background-color: transparent;
      transform: translatex(-19px);
      margin-top: 15px;
    }
  }
}
