footer{

    position: fixed;
    bottom: 50px;
    left: 10px;
    .footer-left{
        i{
            font-size: 1.3em;
            color:white;
            margin: 10px;
        }
    
        .line{
            border-left: 1px solid white;
            background-color: transparent;
        }
    }
}