footer{

    position: fixed;
    bottom: 80px;
    left: 20px;
    .footer-left{
        i{
            font-size: 1.3em;
            color:white;
            margin: 10px;
        }
    
        .line{

            border-right: 1px solid white;
            padding: 20px;
            height: 110px;
            background-color: transparent;
            transform: translatex(-19px);

        }
    }
}