
// INTRODUCTION
.intro{
    padding-top: 140px;
}

// ABOUT


.section-header{
    padding-top:180px ;
    hr{
        position: relative;
        top:30%;
        color: var(--blue);
        width: 70%;
    }
}

#v-pills-tab{
    border: none;
}


