
.projects{


.card-img-overlay {
    opacity: 90%;
    
}
img{
    width: 450px;
    height:auto;
}



.project-desc{
    background-color: var(--lnavy);
    height:150px;
    width: 400px;
    transform: translate(-120px,20px);
}
}