
.projects{


.card-img-overlay {
    opacity: 90%;
    
}




.project-desc{
@media (max-width:768px) {
    display: none;
    
}

    background-color: var(--lnavy);
    height:150px;
    // width: 400px;
    transform: translate(-200px);
}
}